* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--secondary-bg-color: #008c9c;
	--black: #000;
}

body {
    background-color: #798897;
}

h1 {
	margin-top: 1em;
	text-align: center;
}

form {
	width: 20em;
	margin: 2em auto;
}

section {
	width: 20em;
	margin: 1em auto;
	height: 17.5em;
	background-color: #da2222;
	border: .1em solid var(--black);
	padding-bottom: 18em;
}

h2 {
	padding: 1em;
}

label {
	display: block;
	font-size: 1.5em;
	padding-left: .95em;
	padding-bottom: 0.4em;
}

input[type="text"], input[type="password"], input[type="number"] {
	width: 14em;
	padding: .5em;
	border: .05em solid #000;
	margin-left: 1.2em;
	font-size: 1.2em;
	border-radius: .2em;
	margin-bottom: 1em;
}

section:last-of-type div {
	width: 9em;
	float: left;
	margin: 0;
	text-align: inherit;
}

input[type="checkbox"] {
	cursor: pointer;
	position: absolute;
	height: 13em;
	width: 10em;
	opacity: 0;
}

input[type="checkbox"]:hover + figure {
	box-shadow: 0 0 .75em var(--secondary-bg-color);
}

input[type="checkbox"]:checked + figure {
	background-color: var(--secondary-bg-color);
	color: #fff;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 9em;
	border: .1em solid #000;
	margin: 1em;
	border-radius: .5em;
	transition: all 300ms ease;
}

figcaption {
	text-align: center;
	font-size: 1.5em;
}

a {
	margin: 1.2em;
	padding: .5em;
	width: 6em;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--secondary-bg-color);
	color: #fff;
	font-weight: bold;
	float: left;
	text-decoration: none;
	text-align: center;
}

div:last-child {
    width: 20em;
    margin: 1.2em auto;
    text-align: center;
    float: right;
}

p {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background-color: #fff;
    margin: .1em .3em;
    display: inline-flex;
}


/* Hidden classes for Javascript */
.showForm {
    display: none;
}

.backButton {
    display: none;
}

.currentPage {
	background-color: #56423e;
}

.noImg {
	display: none;
}